<a href="https://colab.research.google.com/github/CARLVINMUTAHI/Data_Science/blob/main/Euro2012_Data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import the necessary libraries**

In [1]:
import pandas as pd

**Import the dataset called Euro_2012_stats_TEAM.csv**

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Euro_2012_stats_TEAM.csv to Euro_2012_stats_TEAM.csv

**Assign it to a variable called euro12.**

In [3]:
euro12 = pd.read_csv("Euro_2012_stats_TEAM.csv")

**Select only the Goal column.**

In [6]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

**How many team participated in the Euro2012?**

In [11]:
euro12['Team'].count()

16

**What is the number of columns in the dataset?**

* shape [0] shows the number of rows

In [17]:
euro12.shape[1]

35

**View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline**

In [29]:
discipline= euro12[['Team', 'Red Cards','Yellow Cards']]

**Sort the teams by Red Cards, then to Yellow Cards**

In [55]:
discipline.sort_values('Red Cards', ascending = False)

                   Team  Red Cards  Yellow Cards
6                Greece          1             9
9                Poland          1             7
11  Republic of Ireland          1             6
0               Croatia          0             9
1        Czech Republic          0             7
2               Denmark          0             4
3               England          0             5
4                France          0             6
5               Germany          0             4
7                 Italy          0            16
8           Netherlands          0             5
10             Portugal          0            12
12               Russia          0             6
13                Spain          0            11
14               Sweden          0             7
15              Ukraine          0             5

In [54]:
discipline.sort_values('Yellow Cards',ascending = False)

                   Team  Red Cards  Yellow Cards
7                 Italy          0            16
10             Portugal          0            12
13                Spain          0            11
0               Croatia          0             9
6                Greece          1             9
1        Czech Republic          0             7
9                Poland          1             7
14               Sweden          0             7
4                France          0             6
11  Republic of Ireland          1             6
12               Russia          0             6
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
2               Denmark          0             4
5               Germany          0             4

**Calculate the mean Yellow Cards given per Team**

In [38]:
discipline["Yellow Cards"].mean()

7.4375

Filter teams that scored more than 6 goals

In [43]:
euro12[euro12.Goals>6]

       Team  Goals  Shots on target  ...  Subs on Subs off Players Used
5   Germany     10               32  ...       15       15           17
13    Spain     12               42  ...       17       17           18

[2 rows x 35 columns]

**Select the teams that start with G**

In [58]:
euro12[euro12.Team.str.startswith('G')]

      Team  Goals  Shots on target  ...  Subs on Subs off Players Used
5  Germany     10               32  ...       15       15           17
6   Greece      5                8  ...       12       12           20

[2 rows x 35 columns]

**Select the first 7 columns**

In [67]:
euro12.iloc[: , 0:7]

                   Team  Goals  ...  % Goals-to-shots  Total shots (inc. Blocked)
0               Croatia      4  ...             16.0%                          32
1        Czech Republic      4  ...             12.9%                          39
2               Denmark      4  ...             20.0%                          27
3               England      5  ...             17.2%                          40
4                France      3  ...              6.5%                          65
5               Germany     10  ...             15.6%                          80
6                Greece      5  ...             19.2%                          32
7                 Italy      6  ...              7.5%                         110
8           Netherlands      2  ...              4.1%                          60
9                Poland      2  ...              5.2%                          48
10             Portugal      6  ...              9.3%                          82
11  Republic of Ireland      1  ...              5.2%                          28
12               Russia      5  ...             12.5%                          59
13                Spain     12  ...             16.0%                         100
14               Sweden      5  ...             13.8%                          39
15              Ukraine      2  ...              6.0%                          38

[16 rows x 7 columns]

**Select all columns except the last 3.**

In [68]:
euro12.iloc[:,:-3]

                   Team  Goals  ...  Yellow Cards  Red Cards
0               Croatia      4  ...             9          0
1        Czech Republic      4  ...             7          0
2               Denmark      4  ...             4          0
3               England      5  ...             5          0
4                France      3  ...             6          0
5               Germany     10  ...             4          0
6                Greece      5  ...             9          1
7                 Italy      6  ...            16          0
8           Netherlands      2  ...             5          0
9                Poland      2  ...             7          1
10             Portugal      6  ...            12          0
11  Republic of Ireland      1  ...             6          1
12               Russia      5  ...             6          0
13                Spain     12  ...            11          0
14               Sweden      5  ...             7          0
15              Ukraine      2  ...             5          0

[16 rows x 32 columns]

**Present only the Shooting Accuracy from England, Italy and Russia**

In [72]:
euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%